---
import Social from './Social.astro';
const platform = "github";
const username = "Supertraining";

const linkedin = "linkedin";
const lkdnUser = "matias-maranga"
---
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>

<footer>
   <Social platform={platform} username={username} /> 
   <Social platform="youtube" username="astrodotbuild" />
  <p>Check my profile on <a href={`https://www.${linkedin}.com/in/${lkdnUser}`}>{linkedin}</a>!</p>
</footer>